{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="1" value="" name="symbol" placeholder="Stock Name" type="text">
            <script>
                const queryString = window.location.search;
                var stock = queryString.substring(7);
                document.getElementById('1').value = stock;
            </script>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Number of shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
